<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Display Quiz</title>
  <style>

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/public/create_quizbg.jpg");
}

h1 {
    text-align: center;
    color: #333;
}

#quizContent {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-top: 20px;
}

div {
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

  </style>
</head>
<body>

  <h1>Quiz Questions</h1>

  <div id="quizContent">
    <% if (questions && questions.length > 0) { %>
      <form id="quizForm" action="/submitAnswers" method="post">
          <% for (let i = 0; i < questions.length; i++) { %>
              <div>
                  <p><%= i + 1 %>. <%= questions[i].question %></p>
                  <% for (let j = 0; j < questions[i].options.length; j++) { %>
                      <input type="radio" name="answer<%= i + 1 %>" value="<%= questions[i].options[j] %>">
                      <%= questions[i].options[j] %><br>
                  <% } %>
              </div>
          <% } %>
          <input type="hidden" name="quizId" value="<%= quizId %>">
          <button type="submit">Submit Answers</button>
      </form>
  <% } else { %>
      <p>No questions available for this quiz.</p>
  <% } %>
  </div>

</body>
</html>
